In [116]:
import pandas as pd
import numpy as np
#1

data = pd.read_csv("allbp.data")
data.columns = ['age', 'sex', 'on thyroxine', 'query on thyroxine', 'on antithyroid medication', "sick", "pregnant", "thyroid surgery", "I131 treatment", "query hypothyroid", "query hyperthyroid", "lithium", "goitre", "tumor", "hypopituitary", "psych", "TSH measured", "TSH", "T3 measured", "T3", "TT4 measured", "TT4", "T4U measured", "T4U", "FTI measured", "FTI", "TBG measured", "TBG", "referral source", "protein"]
data = data.drop('TBG', axis=1)
data = data.replace('?', np.nan)
data
#29 variables with 81 171 observations
#We can see that the meausurements have some missing values

#print(data.isna().sum().sum())

#1756 missing variables

#Here I could check every column by data["column name"].isna().sum() but it's a ton of work

#2

#Let's calculate the mean and standard deviation for each of the quantitative variables. From the .names-file we can find out that there are 5 of them.

data = data.dropna()
data["age"] = data["age"].astype(int)
data["TSH"] = data["TSH"].astype(float)
data["T3"] = data["T3"].astype(float)
data["TT4"] = data["TT4"].astype(float)
data["T4U"] = data["T4U"].astype(float)
data["FTI"] = data["FTI"].astype(float)
data.dtypes

#data[["age"]].mean()
#53.222508

#data[["TSH"]].mean()
#4.377677

#data[["T3"]].mean()
#2.014645

#data[["TT4"]].mean()
#108.752107

#data[["T4U"]].mean()
#0.99862

#data[["FTI"]].mean()
# 110.00221

#data[["age","TSH","T3","TT4","T4U","FTI"]].std()

#age    20.885791
#TSH    18.432328
#T3      0.824867
#TT4    35.454357
#T4U     0.199049
#FTI    32.394979"""

#part2

data.sex.value_counts(dropna=False)
#F    1281
#M     665

data.sick.value_counts(dropna=False)
#f    1856
#t      90

#Relatives

data.sex.value_counts(normalize=True, dropna=False)
#F    0.658273
#M    0.341727

data.sick.value_counts(normalize=True, dropna=False)
#f    0.953751
#t    0.046249

#I included just two, you can call these functions for the rest of the true/false categorical variables (which there are a lot)

#4

helsinki = pd.read_csv("44-helsinki.csv")
espoo = pd.read_csv("44-espoo.csv")
cycledata = pd.concat([helsinki, espoo])

cycledata.apply(lambda x: x.isnull().sum(), axis='columns')

#From this we can see that there are 2714 rows with values.

cycledata.count()
#Eteläesplanadi     3072
#Kaivokatu          1722
#Kuusisaarentie     2640
#Merikannontie      2843
#Gallen-Kallela     1459
#Länsiväylä         1460
#Länsituulenkuja    2209

nonNa = cycledata.dropna(axis=0)

#This leaves no rows left, so there wasn't a single day when every street was observed simultaneously.

cycledata.sum(axis=0)

#Merikannontie had the most of over 4,8 million cyclists

date               2014-01-012014-01-022014-01-032014-01-042014-0...
Eteläesplanadi                                             3677532.0
Kaivokatu                                                  3675674.0
Kuusisaarentie                                             2823869.0
Merikannontie                                              4839490.0
Gallen-Kallela                                             1107151.0
Länsiväylä                                                 1324149.0
Länsituulenkuja                                            2037502.0
dtype: object